@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    
}
main{
    max-width:1440px;
    margin: 70px auto;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.btn-pri{
    
    padding: 15px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-bottom: 30px;
}

header{
    background-color:rgba(255, 144, 14, 0.10);
    margin-bottom: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 240px;
    align-items: center;
}
.links{
    display: flex;

}
.link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;

}
nav li{
    list-style: none;
    margin-right: 30px;

}
nav h2{
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;  
}
.banner-content{
    width:862px;
    margin: 0 auto;
    text-align: center;
}
.banner{
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner  img{
    /* width: 1000px; */
    margin-bottom: 20px;
    /* margin: 50px 240px; */
    
}
.feature{
    display: flex;
    /* margin: 20px auto; */
    justify-content: space-between;
    /* width: 80%; */
    align-items: center;
    
}
.feature-images{
    /* display: flex;
    flex-wrap: wrap; */
    /* width: 50%; */
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
}

.feature-content{
    /* width: 50%; */
    padding-left: 70px;
    padding-right: 70px;
    

}
.part1{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.part2{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.part3{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.feature-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.fact-boxs{
    display: flex;
    justify-content: space-around;
}
.box{
    border-radius: 8px;
    text-align: center;
    border: 1px solid #FF900E;
    padding: 54px;
}
.facts-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.box-title{
    color:  #424242;
    font-size: 45px;
    font-weight: 600;
}
.sponsor-content{
    text-align: center;
}
.sponsor-images{
    display: flex;
    justify-content: space-between;
}
.experiance{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    
}
.experiance-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.card-title{
    color:  #131313;
    font-size: 20px;
    font-weight: 600;

}
.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 20px;
}
.card-image{
    height: 90%;
    margin-left: 70px;
}
.exp-badge{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 0;
    width: 332px;
    height: 170px;
    position: relative;
    top: -200px;
    left: 30px;
   
}
.badge-title{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
    /* margin: 5px; */
}
.badge-small{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

}
.foot{
    border-radius: 8px;
    background: #FFF4E7;
}
.copyright{
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 38px 410px;
}

@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        margin: 0;
    }
    .banner-content{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        
    }
    .banner  img{
        width:100%;
        margin: 10px 0px;
    }
    .feature{
        flex-direction: column;
    }
    .feature-images{
        grid-template-columns: 1fr;
       
    }
    .feature-content{
        /* width: 50%; */
        padding-left: 10px;
        padding-right: 10px;
        
    
    }
    .fact-boxs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .box{
        padding: 10px;
    }
    .sponsor-images{
        display: grid;
        grid-template-rows: repeat(1, 1fr) ;
        gap:20px;
        justify-content: center;
        align-items: center;
    }
    .copyright {

        padding: 10px 10px;
    }
    .experiance{
        flex-direction: column;
    }
    .card-image{
        width: 87%;
        
    }
}
@media screen and (min-width:576.1px) and (max-width:960px){
    nav{
        flex-direction: column;
        margin: 0;
    }
    .banner-content{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        
    }
    .banner  img{
        width:100%;
        margin: 10px 0px;
    }
    .feature{
        flex-direction: column;
    }
    .feature-content{
        /* width: 50%; */
        padding-left: 10px;
        padding-right: 10px;
        
    
    }
    .fact-boxs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .copyright {
        padding: 28px 10px;
    }
    .experiance{
        flex-direction: column;
    }
}